/* Configurações Globais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Cor de fundo suave */
    color: #343a40; /* Cor de texto padrão */
    padding-top: 5rem; /* Espaço para navbar fixa */
}

/* Navbar */
.navbar {
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.navbar-brand {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-link {
    font-weight: 500;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #ffc107; /* Amarelo moderno */
    background-color: transparent;
}

/* Botões customizados */
.btn-outline-light {
    border-radius: 50px; /* Borda arredondada */
    padding: 8px 20px;
    transition: all 0.3s ease;
}

.btn-outline-light:hover {
    background-color: #ffc107; /* Amarelo destaque */
    color: #343a40;
    border-color: #ffc107;
}

/* Imagens */
img.bookcover {
    max-height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img.bookcover:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Titulação */
h1, h2, h3 {
    font-weight: bold;
    color: #212529;
    text-align: center;
    margin-bottom: 2rem;
}

/* Layout Responsivo */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.5rem;
    }

    .nav-link {
        font-size: 0.9rem;
    }
}

