{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

    {% if user.is_authenticated %}
        Hi {{ user.username }}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        {% comment %} 
            Tive que transformar em form!
            Pq a rota de log out exige o método post! 
        {% endcomment %}
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url "login" %}">Log in</a>
        | <a href="{% url "signup" %}">Sign Up</a>
    {% endif %}

{% endblock content %}