{% extends 'base.html' %}

{% block title %}Pressão por Profundidade{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">Tabela de Dados - PxProf</h1>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                    <!-- Cabeçalho Agrupado -->
                    <tr>
                        {% for group in column_groups %}
                        <th colspan="{{ group.span }}" class="text-center group-header">{{ group.title }}</th>
                        {% endfor %}
                    </tr>
                    <!-- Cabeçalho Principal -->
                    <tr>
                        {% for column in columns %}
                        <th class="text-center">{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in table_data %}
                    <tr>
                        {% for value in row.values %}
                        <td class="text-center">{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const groupHeader = document.querySelectorAll('.group-header');
            const mainHeader = document.querySelectorAll('thead tr:nth-child(2) th');
            
            // Garante estilos extras se necessário
            [...groupHeader, ...mainHeader].forEach(header => {
                header.style.backgroundColor = '#f8f9fa';
                header.style.boxShadow = '0 2px 2px -1px rgba(0, 0, 0, 0.1)';
            });
        });        
    </script>
{% endblock %}
